@model AdminViewModel
@{
    Layout = "_AdminLayout";
}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Customer Requests</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Beneficiaries Waiting Table</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#" asp-action="ManageBeneficiaries" method="get">
                                                <div class="search_field">
                                                    <input type="text" for="searchStringW" name="searchStringW" placeholder="Search customer name...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                                </div>
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Customer Name</th>
                                            <th scope="col">Relationship</th>
                                            <th scope="col">Proof</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BeneficiariesWaiting)
                                        {
                                            <tr>
                                                <th scope="row"> <a href="#" class="question_content"> @item.User.User.Fullname</a></th>
                                                <td>@item.Relationship</td>
                                                <td><a asp-action="DownloadFile" asp-route-filePath="@item.Proofdocument" class="btn btn-primary">View</a></td>
                                                <td>@item.Requeststatus</td>
                                                <td>
                                                    <a asp-action="BenRequest" asp-route-status="Accepted" asp-route-id="@item.Beneficiaryid" class="btn btn-success">Accept</a>
                                                    <a asp-action="BenRequest" asp-route-status="Rejected" asp-route-id="@item.Beneficiaryid" class="btn btn-danger">Reject</a>

                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Customer Requests</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Beneficiaries Accepted Table</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#" asp-action="ManageBeneficiaries" method="get">
                                                <div class="search_field">
                                                    <input type="text" for="searchStringA" name="searchStringA" placeholder="Search customer name...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Customer Name</th>
                                            <th scope="col">Relationship</th>
                                            <th scope="col">Proof</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BeneficiariesAccepted)
                                        {
                                            <tr>
                                                <th scope="row"> <a href="#" class="question_content"> @item.User.User.Fullname</a></th>
                                                <td>@item.Relationship</td>
                                                <td><a asp-action="DownloadFile" asp-route-filePath="@item.Proofdocument" class="btn btn-primary">View</a></td>
                                                <td>@item.Requeststatus</td>
                                                <td>
                                                    <a asp-action="BenRequest" asp-route-status="Rejected" asp-route-id="@item.Beneficiaryid" class="btn btn-danger">Reject</a>

                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Customer Requests</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Beneficiaries Rejected Table</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#" asp-action="ManageBeneficiaries" method="get">
                                                <div class="search_field">
                                                    <input type="text" for="searchStringR" name="searchStringR" placeholder="Search customer name...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Customer Name</th>
                                            <th scope="col">Relationship</th>
                                            <th scope="col">Proof</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BeneficiariesRejected)
                                        {
                                            <tr>
                                                <th scope="row"> <a href="#" class="question_content"> @item.User.User.Fullname</a></th>
                                                <td>@item.Relationship</td>
                                                <td><a asp-action="DownloadFile" asp-route-filePath="@item.Proofdocument" class="btn btn-primary">View</a></td>
                                                <td>@item.Requeststatus</td>
                                                <td>
                                                    <a asp-action="BenRequest" asp-route-status="Accepted" asp-route-id="@item.Beneficiaryid" class="btn btn-success">Accept</a>

                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
